fastapi
uvicorn==0.30.0
python-multipart
requests
python-dotenv
sqlalchemy
psycopg2-binary
streamlit
streamlit-option-menu
pandas
plotly
twilio
beautifulsoup4
feedparser
pymupdf
google-generativeai
watchdog
pdfplumber
altair
deep-translator
openpyxl
lxml
html5lib
reportlab# Force Rebuild 123
