streamlit
pandas
plotly
pymupdf
feedparser
twilio
google-generativeai
python-dotenv
sqlalchemy
psycopg2-binary
beautifulsoup4
requests
watchdog
pdfplumber
streamlit-option-menu
altair
uvicorn
fastapi
python-multipart
deep-translator
openpyxl
lxml
html5lib
reportlab
